.Home_background{

    /* background-color: rgb(2, 72, 158);  */
    background-image:linear-gradient(rgba(2, 72, 158,.4),rgba(2, 72, 158,.4)), url("../../public/BackgroundImage/background5.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.Solgan{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Heading-Size{
    font-size: 64px;
    font-weight: bold;
    /* color: hsl(12, 100%, 42%) */
    padding-bottom: 40px;
}

.Paragraph_size{
    font-size: 24px;
    margin-bottom: 40px;
    color:hsla(0, 0%, 93%, 0.733)
}
.Bacground_button_size{
    border: none;
    outline: none;
    color: #fff;
    /* background: linear-gradient(to right , #02489e, transparent); */
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s linear;

    
}

.Main_button,.Main_button_read_more{
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 0,.6);
    background-color: transparent;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s linear;
    margin-right: 10px;

}
.second_button{

    text-align: center;
    padding: 13px;
    position: relative;
    color: #fff;
    z-index: 10;

}

.Banner_overlay{
    background-color: #02489e;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all .3s linear;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;


}

.Banner_secondary_overlay{
    background-color: transparent;
}

.Main_button:hover .Banner_overlay{

    width: 100%;
    border-radius: 0;
}

.Main_button:hover{

 box-shadow: 0px 0px 80px 10px #0073ff;

}

.Gruanttee{
    margin-left: -23px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

.logindemo{
    width: 100;
    height:100vh;
    border: 1px solid red;
}




@media only screen and (max-width: 576px) {
 
    .Heading-Size{
        font-size: 42px;
    }

    .Paragraph_size{
        font-size: 20px;
        margin: 30px 0px;
    }

    .Banner_overlay{
        background-color: #02489e;
        width: 100%;
       border-radius:0;
    
    
    }

  }

  @media only screen and (min-width: 768px) {

  /* 768px */
  
.banner_image{
    /* background-image: url("../../public/BackgroundImage/earth.jpg");*/
    width: 50%;
    height: 100%; 
    background-color: rgba(0, 0, 0,.6);
    /* background-image: linear-gradient(180deg , rgba(2, 72, 158,.4), rgba(0, 0, 0,.6));; */
    position: absolute;
    top:0;
    left:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  }

  @media only screen and (min-width: 768px) and (max-width:991px) {
    .banner_image{
  
    }
  }