.Domain_transfer_Heading,.Domain_transfer{
    color:#033572;
}
.Domain_transfer_paragragh{
    color:#727586;
    padding:10px 0px
}

.Why_Domain_transfer{
    background-color: #033572;
    color: white;
}
