.Section_heading_one{
    color:#02489e;
    font-weight: bolder;
    font-size: 42px;
}



.Support{

}



.HomeHR{
    
    margin-bottom: 40px;
    
}

.HomeSelect{
    outline: none;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    width: 150px;
}

.Heading_Two{
    background-color: #02489e;
    font-size: 36px;
    color:#02489e;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    font-weight: 700;
}

.FirstItem{
 /* border: 1px solid #02489e; */
 /* border-left: 1px solid #02489e ;
 border-top: 1px solid #02489e ;
 border-right:1px solid #02489e ; */
 padding: 20px;
}
.FirstItem_Details{
 display: flex;
 justify-content: space-around;
}

.ChildTwo,.ChildThree{
    border-left: 2px solid #02489e;
    padding-left: 10px;
}

.ChildTwo{
    width: 34%;
    line-height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Money{
    font-size: 64px;
    text-align: center;
    color: #02489e;
}
.ChildOne , .ChildThree{
    width: 33%;
}

/* .Home_Remove{
    display: none;
} */

.SecondItem{
    
    border-top: none;
    /* padding: 20px; */
    font-size: 28px;
    /* box-shadow: 0px 5px 5px hsl(213, 83%, 88%); */
}

.Feature_Header{
    font-size: 28px;
    color: #02489e;
   
    
}

.Feature_Header_active{
    border-top: 0px solid #02489e;
}

.SecondAllItem{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.Services{
    font-size: 36px;
    color: #02489e;
}

.service_conternt{
    position: relative;
}

.server_sub_content{
    background:linear-gradient(rgba(2, 72, 158,.6),rgba(2, 72, 158,.6));
    position: absolute;
    top: 0;
    left:0;
    z-index:100;
    width: 0%;
    height:100%;
    opacity:0;
    overflow: hidden;
    transition: all .3s linear;
    color: #fff;
    font-weight: bold;
    


}

.service_conternt:hover .server_sub_content{
  width: 100%;
  opacity:1;
}

.service_title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.Service_mobile{
  display: none;
}

.Section_four{
    background-color: #dfedff;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Home_domain{
    background-image:linear-gradient(rgba(2, 72, 158,.5),rgba(2, 72, 158,.5)), url("../../public/BackgroundImage/background3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: #fff;
}
.Home_Search_Domain{
    width: 25%;
    color:hsla(0, 0%, 100%, 0.63);
}

.domain_name_heading{
    font-size: 48px;
}

.About_us_Heading{
    color:hsl(213, 96%, 47%);
}

.About_us_paragraph{
color:#a6a09f;
}

.Moving_image{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 1s;
}

@keyframes example {
    0%{
          transform: translateY(0px);
    }

    50%{
    
        transform: translateY(-15px);
    }

  100%{
    
    transform: translateY(0px);
}

  }

.Form1{
    /* background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url("../../public/ContactImage/contact.jpg");
    height: 100%;
    width: 100%;
    background-image: contain;
    background-position: center;
    flex-direction: column;
    padding: 40px;
    color: #fff; */
}

.Form_Class{
    width: 100%;
    outline: none;
    border: 1px solid #2771ca;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.Form_Class:focus{
    box-shadow:0px 0px 20px #a4cdff ;
}

.textarea_remove{
    display: none;
}

.Login_button{
color:red;

}





@media only screen and (max-width: 992px) {

    .Home_Solgan{
        display: block;
    }
    .Support{

    }

    .ChildOne{
        display: none;
    }

    .visibleChildOne{
        display: block;
    }

    .ChildTwo , .ChildThree {
        width: 50%;
    }

    .ChildTwo{
        border: none;
    }

    .SecondAllItem{
        flex-direction: column;
    }
    .visibleChildOne{
        width: 100%;
    }

    .visibleChildTwo , .visibleChildThree{
      border: none;
      width: 100%;
    }

    .domain_name_heading{
        font-size: 36px;
    }

    .Home_Search_Domain{
        width: 50%;
    }

}

@media only screen and (max-width: 768px) {

    .mobile-width {
        width: 100% !important;
    }

    .hide_solgan{
        display: none;
    }

}

@media only screen and (max-width: 576px) {

    .HomeHR{
    
        width: 100%;
    }

    .Support{
        



        }


        .FirstItem_Details{
            flex-direction: column
        }

        .ChildTwo , .ChildThree{
            width:100%
        }

        .ChildTwo{
            padding: 60px 0px;
        }

        .ChildThree{
            border: none;
           
           
            white-space: nowrap;
          
            display: flex;
            flex-direction: column;
         
            
        }

        .Service_mobile{
            background-color: #fff;
            font-size: 20px;
            padding: 10px;  
        }

        .domain_name_heading{
            font-size: 24px;
        }

        .Home_Search_Domain{
            width: 100%;
            font-size: 14px;
            padding: 10px 0px;
        }

       

        .Form2{
            margin-top: 24px;
        }

        
   

}
